header p{
    font-size: 14px;
    margin-top: 25px;
}

header h1{
    font-size: 48px;
    font-weight: bold;
}

a{
    border: 1px solid rgb(223, 136, 124);
    padding: 10px;
    background-color: rgb(179, 21, 21);
    color: white;
    padding: 12px;
    font-size: 30px;
    box-shadow: 1px 1px 1px rgba(1px, 2px, 0, 0.3);
}

ul{
    list-style-type: none;
    max-width: 500px;
    margin: 36px auto 0 auto;
    padding: 0;
}

li{
    border: 2px solid rgb(223, 136, 124);
    padding: 32px;
    margin-bottom: 22px;
    background-color: rgb(223, 136, 124);
    border-radius: 6px;
    box-shadow: 3px 3px 3px rgb(0, 0, 0, 0.3);
}

li p{
    font-size: 26px;
}

.goal-highlight{
    background-color: rgb(225, 110, 124);
}