body{
	text-align: center;
	padding: 12px;
}

h1{
	font-family: 'Fira Sans', sans-serif;
	font-size: 24px;
}

p{
	font-family: 'Roboto', sans-serif;
	font-size: 48px;
	font-weight: bold;
}

a:link {
	color: rgb(224, 99, 99);
	text-decoration: none;
  }
  

  a:visited {
	/* color: rgb(231, 80, 20); */
	color: white;
  }
  

  a:hover {
	color: hotpink;
	font-size: 24px;
  }
  
  
  a:active {
	color: blue;
  }